
singularity {

    enabled                     = true

    envWhitelist                = "SLURM_CPUS_ON_NODE"

    runOptions                  = '-B "$TMPDIR"' // For compatibility with the parallel command called by Tb-Profiler

    autoMounts                  = true

}

process {

    container                   = "file:///uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/kwalter_singularity.sif"

    withLabel: local {

    	executor				= "local"

    }

    withLabel: slurm {

    	executor				= "slurm"

    	clusterOptions			= "-A walter --partition kingspeak -N 1"

    }

}

params {
    
	// Main files/directories

	reads_list                  = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/test_data/reads_list.tsv"

    kraken_database_path        = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/kraken_db"

    reference_fasta_path        = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/refs/H37Rv.fa"

    reference_fasta_index_path  = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/refs/H37Rv.fa.fai"

    bwa_index_path              = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/refs"

    bowtie_index_path           = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/refs"

    bowtie_index_prefix         = "H37Rv"

    gatk_dictionary_path        = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/refs/H37Rv.dict"

    bed_path                    = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/bed/H37Rv_ppe.bed.gz"

    vcf_header                  = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/bed/ppe_hdr.txt"

    snpeff                      = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/snpEff/snpEff.jar"

    snpeff_db                   = "Mycobacterium_tuberculosis_h37rv"

    snpeff_datapath             = "/uufs/chpc.utah.edu/common/home/u6045141/mtb/WalterPipeline/resources/snpEff_refs"
    
    seq_platform                = "illumina"
    
    library                     = "library1"
    
    depth_threshold             = 5
    
    qual_threshold              = 20
    
    ploidy                      = 1
    
    threads                     = 4
    
    nextseq                     = false
    
    nextseq_qual_threshold      = 20

    // Main variables

    mapper                      = "bwa"

    variant_caller              = "gatk"

}